<div class="module-video">
  <div class="module-overlay">
    <div class="btn-overlay">
      <button class="btn-play" type="button" rel="tooltip" data-title="Play Stream" ng-click="go('/streams/{{stream.id}}')">
        <span class="visually-hidden">Switch to this stream</span>
      </button>
    </div>
    <ul class="specs-stream no-bullets">
      <li class="specs-title"><em class="title">{{stream.title}}</em></li>
    </ul>
  </div><!-- /.module-overlay -->
  <licode flow="inbound" token="{{stream.token}}" width="115" height="65"></licode>
</div><!-- /.module-video -->
