<div class="main" role="main">
  <div class="width-controller container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <section class="mid-content">
          <div class="row-fluid">
            <div class="span8">
              <h3 class="section-title">
                <i class="channel-icon"></i> VJ
              </h3>
            </div>
          </div><!-- /.row-fluid -->
          <div class="row-fluid">
            <div class="span12" data-drop="true" jqyoui-droppable jqyoui-options="droppableOptions" ng-model="streampool">
              <div vj-module streams-pool="streampool" max-streams="4"></div>
            </div><!-- /.span12 -->
          </div><!-- /.row-fluid -->
          <div class="row-fluid">
            <div class="span12">
              <h3 class="section-title">
                <i class="stream-icon"></i>
                Live streams!
              </h3>
              <ol class="no-bullets">
                <li class="module-large span3" ng-repeat="availableStream in availableStreams track by availableStream.stream.id"
                    data-drag="true"
                    jqyoui-draggable="draggable"
                    jqyoui-options="draggableOptions"
                    ng-model="availableStream">
                  <div stream-module stream="availableStream.stream" size="large"></div>
                </li><!-- /.module-large -->
              </ol><!-- /.onfire-row -->
            </div><!-- /.span12 -->
          </div><!-- /.row-fluid -->
        </section><!-- /.mid-content -->
      </section><!-- /.lower-content -->

    </div><!-- /.container-fluid -->
  </div><!-- /.main -->
